<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../styles/pages/index/index.css" />
	</head>

	<body>
		<div id="header"></div>
		<!--banner-->
		<div class="banner">
			<div id="banner_show">
				<ul id="banner_list">
				</ul>
				<ul class="nav">
					<li class="active"></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<div class="leftBtn"></div>
				<div class="rightBtn"></div>
			</div>
		</div>

		<!--品牌滚动-->
		<div class="brand_roll">
			<div class="w1190">
				<div class="brand_roll_inner">
					<button class="left_arrows arrows">
						<img src="../../../img/left_arrows.png" alt="" />
					</button>
					<div class="brand_slider">
						<ul class="brand_animate">
							<li>
								<a href="#">
									<img src="../../../img/index/brands/by_terry3.jpg" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/CT7.jpg" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/hudabeauty5.jpg" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/IMG_7523.JPG" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/kerastase8.jpg" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/logo_bourjois.png" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/logo_elemis.png" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/niod4.jpg" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/nyx2.jpg" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/pauljoe.jpg" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/the_ordinar9.jpg" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/sarahchapman1.jpg" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/verso10.jpg" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../../../img/index/brands/zoeva6.jpg" />
								</a>
							</li>
						</ul>
					</div>
					<button class="right_arrows arrows">
						<img src="../../../img/right_arrows.png" alt="" />
					</button>
				</div>
			</div>
		</div>

		<div class="main">

			<div class="w1190">

				<!--四大图-->
				<ul class="four-featured">
					<li>
						<span class="img_four">
							<a href="#"><img src="../../../img/index/four/four01.jpg" alt="" /></a>
						</span>
						<span class="featured-title">SVR精选单品</span>
						<span class="featured-discount">买三免一</span>
						<a class="featured-btn" href="#" target="_blank">点击选购</a>
					</li>
					<li>
						<span class="img_four">
							<a href="#"><img src="../../../img/index/four/four02.jpg" alt="" /></a>
						</span>
						<span class="featured-title">雅诗敦</span>
						<span class="featured-discount">直降75折</span>
						<a class="featured-btn" href="#" target="_blank">点击选购</a>
					</li>
					<li>
						<span class="img_four">
							<a href="#"><img src="../../../img/index/four/four03.jpg" alt="" /></a>
						</span>
						<span class="featured-title">Sachajuan</span>
						<span class="featured-discount">直降8折</span>
						<a class="featured-btn" href="#" target="_blank">点击选购</a>
					</li>
					<li>
						<span class="img_four">
							<a href="#"><img src="../../../img/index/four/four04.jpg" alt="" /></a>
						</span>
						<span class="featured-title">精选品牌</span>
						<span class="featured-discount">直降67折</span>
						<a class="featured-btn" href="#" target="_blank">点击选购</a>
					</li>
				</ul>

				<!--推荐商品-->
				<div class="product_recomm">
					<ul class="product_nav">
						<li>
							<a href="#" class="p_active">超值推荐</a>
						</li>
						<li>
							<a href="#">香港仓推荐</a>
						</li>
						<li>
							<a href="#">新品抢先购</a>
						</li>
						<li>
							<a href="#">口碑防晒</a>
						</li>
						<li>
							<a href="#">元气彩妆</a>
						</li>
						<li>
							<a href="#">母婴专区</a>
						</li>
						<li>
							<a href="#">男士专区</a>
						</li>
					</ul>
					<div class="box" style="display: block;">
						<ul class="product_recomm_show1 product_recomm_show">

						</ul>
					</div>
					<div class="box">
						<ul class="product_recomm_show2 product_recomm_show">

						</ul>
					</div>
					<div class="box">
						<ul class="product_recomm_show3 product_recomm_show">

						</ul>
					</div>
					<div class="box">
						<ul class="product_recomm_show4 product_recomm_show">

						</ul>
					</div>
					<div class="box">
						<ul class="product_recomm_show5 product_recomm_show">

						</ul>
					</div>
					<div class="box">
						<ul class="product_recomm_show6 product_recomm_show">

						</ul>
					</div>
					<div class="box">
						<ul class="product_recomm_show7 product_recomm_show">

						</ul>
					</div>
				</div>

				<!--猜你喜欢-->
				<div class="think_like">
					<div class="like_title">
						<a href="#">猜你喜欢</a>
					</div>
					<div id="like_roll">
						<div class="like_list">
							<div class="like_one">
								<ul id="think_like1_list">

								</ul>
							</div>
							<div class="like_one">
								<ul id="think_like2_list">

								</ul>
							</div>
							<div class="like_one">
								<ul id="think_like3_list">

								</ul>
							</div>
						</div>
<!--						<div class="leftBtn"></div>-->
						<div class="rightBtn"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			
		</div>
	</body>
	<script src="../../scripts/libs/jquery-2.0.3.js"></script>
	<script>
		$("#header").load("../header/header.html");
		$("#footer").load("../footer/footer.html");
	</script>
	
	<script src="../../static/scripts/require.js" data-main="index.js" type="text/javascript" charset="utf-8"></script>
	<!--轮播图-->
	<script type="text/html" id="_banner">
		<%for(let i = 0; i < 8; i++){ %>
		<li id="banner_one">
			<a href="#">
				<img src="<%=data.data[i].image_url%>" />
			</a>
		</li>
		<% } %>
	</script>

	<!--商品推荐显示-->
	<script type="text/html" id="_product_recomm1">
		<%for(let i = 0; i < 30; i+=3){ %>
		<li class="_product_one">
			<a href="../product_details/product_details.html">
				<img src="<%=data.results[i].image_url%>" />
			</a>
			<h2 class="product_name">
				<%=data.results[i].name%>
			</h2>
			<div class="options">
				<button class="btn_btn" type="button" title="加入购物车" dataProductImg="<%=data.results[i].image_url%>" dataProductId="<%=data.results[i].product_id%>" dataProductName="<%=data.results[i].name%>" dataProductPrice="<%=data.results[i].merchant_currency%><%=data.results[i].price%>">
              		<span>BUY</span>
            	</button>
			</div>
			<span class="product_price">
				<span class="product_sy">
					<%=data.results[i].merchant_currency%>
				</span>
			<span class="product_num_Int">
					<%=parseInt(data.results[i].price)%>
				</span>
			<span class="product_num_F">
					<%="."+data.results[i].price*100%100%>
				</span>
			</span>
		</li>
		<% } %>
	</script>
	<script type="text/html" id="_product_recomm2">
		<%for(let i = 0; i < 30; i+=3){ %>
		<li class="_product_one">
			<a href="../product_details/product_details.html">
				<img src="<%=data.results[i].image_url%>" />
			</a>
			<h2 class="product_name">
				<%=data.results[i].name%>
			</h2>
			<div class="options">
				<button type="button" title="加入购物车" dataProductImg="<%=data.results[i].image_url%>" dataProductId="<%=data.results[i].product_id%>" dataProductName="<%=data.results[i].name%>" dataProductPrice="<%=data.results[i].merchant_currency%><%=data.results[i].price%>">
              <span>BUY</span>
            </button>

			</div>
			<span class="product_price">
				<span class="product_sy">
					<%=data.results[i].merchant_currency%>
				</span>
			<span class="product_num_Int">
					<%=parseInt(data.results[i].price)%>
				</span>
			<span class="product_num_F">
					<%="."+data.results[i].price*100%100%>
				</span>
			</span>
		</li>
		<% } %>
	</script>

	<!--猜你喜欢-->
	<script type="text/html" id="_think_like1">
		<%for(let i = 0; i < 15; i+=3){ %>
		<li class="_product_one">
			<a href="../product_details/product_details.html">
				<img src="<%=data.results[i].image_url%>" />
			</a>
			<h2 class="product_name">
				<%=data.results[i].name%>
			</h2>
			<span class="product_price">
				<span class="product_sy">
					<%=data.results[i].merchant_currency%>
				</span>
			<span class="product_num_Int">
					<%=parseInt(data.results[i].price)%>
				</span>
			<span class="product_num_F">
					<%="."+data.results[i].price*100%100%>
				</span>
			</span>
		</li>
		<% } %>
	</script>
	<script type="text/html" id="_think_like2">
		<%for(let i = 0; i < 15; i+=3){ %>
		<li class="_product_one">
			<a href="../product_details/product_details.html">
				<img src="<%=data.results[i].image_url%>" />
			</a>
			<h2 class="product_name">
				<%=data.results[i].name%>
			</h2>
			<span class="product_price">
				<span class="product_sy">
					<%=data.results[i].merchant_currency%>
				</span>
			<span class="product_num_Int">
					<%=parseInt(data.results[i].price)%>
				</span>
			<span class="product_num_F">
					<%="."+data.results[i].price*100%100%>
				</span>
			</span>
		</li>
		<% } %>
	</script>
	<script type="text/html" id="_think_like3">
		<%for(let i = 0; i < 15; i+=3){ %>
		<li class="_product_one">
			<a href="../product_details/product_details.html">
				<img src="<%=data.results[i].image_url%>" />
			</a>
			<h2 class="product_name">
				<%=data.results[i].name%>
			</h2>
			<span class="product_price">
				<span class="product_sy">
					<%=data.results[i].merchant_currency%>
				</span>
			<span class="product_num_Int">
					<%=parseInt(data.results[i].price)%>
				</span>
			<span class="product_num_F">
					<%="."+data.results[i].price*100%100%>
				</span>
			</span>
		</li>
		<% } %>
	</script>
	
	
</html>